out/
work/
vm/
*.iso
*.qcow2
*.log
cmd_history.txt
*.fd
__pycache__/
*.py[cod]

release/
*.iso.*
*.img
*.raw
*.vdi
*.vmdk
*.vhd
*.vhdx
*.ova
*.p12
*.pfx
*.pem
*.key
*.sig
*.asc
.env
.env.*
secrets.json
secring.gpg
private-keys-v1.d/
id_rsa
id_dsa
id_ecdsa
id_ed25519
*-secrets.json