[Desktop Entry]
Type=Application
Name=Setja upp BifrOSt
Name[en]=Install BifrOSt
Comment=Setja upp íslenskt þróunarumhverfi BifrOSt
Comment[en]=Install the Icelandic BifrOSt developer system
Exec=bifrost-installer
Icon=bifrost
Terminal=false
Categories=System;
Keywords=install;installer;uppsetning;
StartupNotify=true
