[Desktop Entry]
Type=Application
Name=BifrOSt Welcome
Name[is]=Velkomin í BifrOSt
Comment=Show first-boot information once
Comment[is]=Sýna mikilvægar upplýsingar einu sinni við fyrstu ræsingu
Exec=bifrost-welcome
TryExec=bifrost-welcome
OnlyShowIn=COSMIC;
X-GNOME-Autostart-Delay=4
NoDisplay=true
