<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>BifrOSt</vendor>
  <vendor_url>https://github.com/olibuijr/BifrOSt</vendor_url>
  <icon_name>system-software-update</icon_name>
  <action id="org.bifrost.maintenance.system-upgrade">
    <description>Apply a complete BifrOSt system upgrade</description>
    <message>Authentication is required to apply a complete system upgrade</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/bifrost-maintenance/system-upgrade</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
